@font-face {
    font-family: "Gilroy";
    src: url(../../src/assets/fonts/Gilroy-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url(../../src/assets/fonts/Gilroy-Bold.ttf);
    font-weight: 600;
}