//FONT SIZES

$nav-links: 2.4rem;
$h1: 4.7rem;
$section-heading: 3.4rem;
$primary-txt: 1.8rem;
$lang: 2.4rem;
$program-name: 1.4rem;

// COLORS

$black: #070707;
$grey: #828282;
$lightgrey: #F6F6F6;

//BREAKPOINTS

$tablets: 480px;
$laptops: 768px;
$desctops: 1024px;
$large-screens: 1200px;